.form {
  &.centerComponent {
    margin: 0;
    max-width: 600px;
    width: 100%;

    @media (min-width: $breakpoint-desktop-wide) {
      max-width: $content-max-width;
    }
  }

  &-container {
    max-width: 100%;
  }

  &-options {
    display: flex;
    flex-direction: column;
    height: 270px;
    overflow: hidden;
    padding: 30px 10px;
    transition: height 0.3s, padding 0.3s;

    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
      height: 80px;
      padding: 30px 15px;
    }

    &--isHidden {
      height: 0;
      padding: 0 10px;

      @media (min-width: $breakpoint-tablet) {
        padding: 0 15px;
      }
    }

    .form-section:first-child {
      margin-right: 50px;
    }
  }

  &-settingsFeedback {
    font-size: $font-size-s;
    margin-left: 5px;
    margin-top: 20px;
  }

  &-feedback {
    font-size: $font-size-s;
    margin-top: 20px;

    &-success {
      align-items: center;
      display: flex;

      a {
        word-break: break-word;
      }
    }

    svg {
      height: 15px;
      margin-right: 7px;
      margin-top: -2px;
      width: 15px;

      path {
        fill: $color-white;
      }
    }
  }

  label {
    margin-left: 5px;
  }

  .input {
    &-textContentWrapper {
      position: relative;
    }

    &-charsleft {
      bottom: 10px;
      font-size: $font-size-s;
      opacity: 0.4;
      position: absolute;
      right: 10px;
    }

    &-textContent {
      display: block;
      background-color: transparent;
      box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, .04), 0 20px 40px 0 rgba(0, 0, 0, .2);
      font-size: $font-size-s;
      line-height: 20px;
      max-width: $content-max-width;
      min-height: 60px;
      overflow: hidden;
      padding: 20px 20px 40px;
      transition: background-color 0.3s;

      &:focus,
      &:hover {
        background-color: $color-background-light;
        border: 0;
        outline: 0;
      }

      &[contenteditable]:empty::before {
        content: "Type something..";
        opacity: 0.2;
      }
    }

    &-typeSelect-label,
    &-timeSelect-label {
      margin-left: 0;
      margin-bottom: 10px;

      @media (min-width: $breakpoint-mobile-horizontal) {
        margin-bottom: 5px;
      }
    }

    &-timeSelect {
      background-color: $color-background;
      margin-bottom: 13px;
      min-width: 80px;

      @media (min-width: $breakpoint-tablet) {
        margin-bottom: 4px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-anonymous {
    display: flex;
    flex-direction: column;
    height: 15px;
    margin-top: 15px;
    transition: height 0.3s;
    transition-delay: 0.1s;

    &--isExtended {
      height: 65px;

      input[type=text].form-nameField {
        opacity: 1;
        pointer-events: auto;
        transition-delay: 0.35s;
      }
    }

    .form-checkbox {
      appearance: none;
      background-color: $color-white;
      height: 12px;
      position: relative;
      width: 13px;

      &:checked {
        &:after {
          opacity: 1;
        }
      }

      &:after {
        border-bottom: 2px solid $color-background;
        border-right: 2px solid $color-background;
        content: '';
        display: inline-block;
        height: 8px;
        left: 4px;
        opacity: 0;
        position: absolute;
        top: 0;
        transform: rotate(45deg);
        transition: opacity 0.3s;
        width: 3px;
      }
    }

    input[type=text] {
      background-color: transparent;
      border: none;
      box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, .04), 0 20px 40px 0 rgba(0, 0, 0, .2);
      margin-top: 20px;
      min-height: 20px;
      max-width: 65%;
      opacity: 0;
      padding: 6px 10px;
      pointer-events: none;
      transition: opacity 0.3s;

      @media (min-width: $breakpoint-mobile-horizontal) {
        max-width: 50%;
      }

      &::placeholder {
        font-family: 'Consolas', sans-serif;
        font-weight: bold;
        opacity: 0.65;
      }
    }

    label {
      margin-left: 7px;
    }
  }

  &-checkboxWrapper {
    align-items: center;
    display: flex;
    padding-left: 5px;
  }

  &-section-radio {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    @media (min-width: $breakpoint-tablet) {
      margin-top: 0;
      max-width: 420px;
    }
  }

  &-radio {
    &-wrapper {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 0;
      }
    }

    &-itemWrapper {
      display: flex;
      margin-bottom: 12px;

      @media (min-width: $breakpoint-tablet) {
        margin-bottom: 7px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .messageLabel {
    margin-bottom: 15px;
  }
}