.home-page .footer-message {
  flex-direction: column;
}

.footer {
  font-size: $font-size-s;
  margin: 40px 0;
  max-width: $content-max-width;
  text-align: center;
  width: 100%;

  a {
    color: $color-accent;
    font-weight: 800;
    transition: color 0.3s;

    &:hover {
      color: $color-white;
    }
  }

  * {
    width: 100%;
  }
}
