.messageBox {
  max-width: 600px;
  width: 100%; }

.messageBox-container {
  background-color: #2f2e2e;
  border-radius: 10px;
  box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, 0.04), 10px 20px 40px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
  max-width: calc(100% - 40px);
  min-width: 210px;
  padding: 15px;
  position: relative;
  width: 100%; }

@media (min-width: 480px) {
  .messageBox-container {
    padding: 20px;
    width: fit-content; } }

.messageBox-container::before {
  border: 0.75rem solid transparent;
  border-bottom-color: #2f2e2e;
  border-top: none;
  bottom: 100%;
  content: '';
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
  height: 0;
  left: 1.5em;
  position: absolute;
  width: 0; }

.messageBox-textRow {
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 25px;
  padding-left: 5px; }

.messageBox-avatar {
  border: 1px solid #868889;
  border-radius: 50%;
  height: 10px;
  margin-bottom: -5px;
  margin-right: 5px;
  padding: 3px;
  width: 10px; }

.messageBox-avatar svg {
  fill: #868889; }

.messageBox-content {
  font-size: 12px;
  font-weight: bold;
  opacity: 1;
  transition: opacity 1.5s;
  word-wrap: break-word; }

.messageBox-content--isDestroyed {
  opacity: 0; }

.messageBox-messageDestroyed-wrapper {
  align-items: center;
  display: flex; }

.messageBox-messageDestroyed-wrapper .message {
  width: 100%; }

.messageBox-messageDestroyed {
  font-size: 12px;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
  transition-delay: 2s; }

.messageBox-messageDestroyed--isDestroyed {
  opacity: 1; }

.messageBox-messageDestroyed-checkmark {
  height: 15px;
  margin-right: 7px;
  margin-top: -2px;
  width: 15px; }

.timer {
  margin-top: 20px;
  width: calc(100% - 10px); }

@media (min-width: 480px) {
  .timer {
    width: 100%; } }

.timer-wrapper {
  font-size: 12px;
  font-style: italic;
  line-height: 1.35; }

@media (min-width: 480px) {
  .timer-wrapper {
    padding-left: 5px; } }

.timer-wrapper span:last-child {
  padding-left: 5px; }

.form {
  max-width: 600px; }

.form-options {
  display: flex;
  flex-direction: column;
  height: 250px;
  overflow: hidden;
  padding: 30px 10px;
  transition: height 0.3s, padding 0.3s; }

@media (min-width: 350px) {
  .form-options {
    height: 220px; } }

@media (min-width: 768px) {
  .form-options {
    flex-direction: row;
    height: 90px;
    padding: 30px 15px; } }

.form-options--isHidden {
  height: 0;
  padding: 0 10px; }

@media (min-width: 768px) {
  .form-options--isHidden {
    padding: 0 15px; } }

@media (min-width: 480px) {
  .form-options .form-section:first-child {
    margin-right: 50px; } }

.form-settingsFeedback {
  font-size: 12px;
  margin-left: 5px;
  margin-top: 20px; }

.form-feedback {
  font-size: 12px;
  margin-top: 20px;
  min-height: 50px; }

@media (min-width: 480px) {
  .form-feedback {
    min-height: 32px; } }

.form-feedback-success {
  display: flex;
  flex-direction: column; }

.form-feedback-success-top {
  align-items: center;
  display: flex; }

.form-feedback-success-bottom {
  cursor: pointer;
  color: #868889;
  font-weight: 800;
  padding: 10px 20px 0;
  position: relative;
  word-break: break-word; }

@media (min-width: 480px) {
  .form-feedback-success-bottom {
    padding-left: 22px;
    padding-top: 3px; } }

.form-feedback-checkmark {
  height: 15px;
  margin-right: 7px;
  margin-top: -2px;
  width: 15px; }

.form label {
  margin-left: 5px; }

.form .input-textContentWrapper {
  position: relative; }

.form .input-charsleft {
  bottom: 10px;
  font-size: 12px;
  opacity: 0.4;
  position: absolute;
  right: 10px; }

.form .input-textContent {
  display: block;
  background-color: transparent;
  box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, 0.04), 0 20px 40px 0 rgba(0, 0, 0, 0.2);
  font-size: 12px;
  line-height: 20px;
  max-width: 600px;
  min-height: 60px;
  overflow: hidden;
  padding: 20px 20px 40px;
  transition: background-color 0.3s; }

.form .input-textContent:focus, .form .input-textContent:hover {
  background-color: #2f2e2e;
  border: 0;
  outline: 0; }

.form .input-textContent[contenteditable]:empty::before {
  content: 'Type something..';
  opacity: 0.2; }

.form .input-typeSelect-label, .form .input-timeSelect-label {
  margin-left: 0;
  margin-bottom: 10px; }

.form .input-timeSelect {
  background-color: #292929;
  border: 1px solid #e3e3e3;
  box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, 0.04), 0 20px 40px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 13px;
  min-width: 80px; }

@media (min-width: 480px) {
  .form .input-timeSelect {
    border: 0;
    box-shadow: none;
    margin-bottom: 9px; } }

@media (min-width: 768px) {
  .form .input-timeSelect:last-child {
    margin-bottom: 0; } }

.form .input-timeSelect-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between; }

@media (min-width: 480px) {
  .form .input-timeSelect-wrapper {
    display: block; } }

.form .input-buttonWrapper {
  align-items: center;
  display: flex;
  flex-direction: column; }

@media (min-width: 480px) {
  .form .input-buttonWrapper {
    flex-direction: row; } }

.form .input-buttonWrapper .refresh {
  animation: expandHeight 1s forwards;
  cursor: pointer;
  height: 20px;
  margin-top: 25px;
  transition: height 2s;
  transition-delay: 0.1s;
  width: 20px; }

@media (min-width: 480px) {
  .form .input-buttonWrapper .refresh {
    animation: none;
    height: 14px;
    margin: 25px 15px 0;
    width: 14px; } }

.form-anonymous {
  display: flex;
  flex-direction: column;
  height: 15px;
  margin-top: 15px;
  transition: height 0.3s;
  transition-delay: 0.1s; }

.form-anonymous--isExtended {
  height: 75px; }

.form-anonymous--isExtended input[type='text'].form-nameField {
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0.35s; }

.form-anonymous--isExtended input[type='text'].form-nameField::placeholder {
  font-weight: 400; }

.form-anonymous .form-checkbox {
  appearance: none;
  background-color: #2f2e2e;
  border: 1px solid #e3e3e3;
  box-sizing: content-box;
  height: 12px;
  position: relative;
  width: 13px; }

.form-anonymous .form-checkbox:checked:after {
  opacity: 1; }

.form-anonymous .form-checkbox:after {
  border-bottom: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
  content: '';
  display: inline-block;
  height: 8px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  transition: opacity 0.3s;
  width: 3px; }

.form-anonymous input[type='text'] {
  background-color: transparent;
  border: none;
  box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, 0.04), 0 20px 40px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  min-height: 20px;
  max-width: 65%;
  opacity: 0;
  padding: 10px 10px 10px 20px;
  pointer-events: none;
  transition: opacity 0.3s; }

@media (min-width: 480px) {
  .form-anonymous input[type='text'] {
    max-width: 50%; } }

.form-anonymous input[type='text']:focus, .form-anonymous input[type='text']:hover {
  background-color: #2f2e2e;
  border: 0;
  outline: 0; }

.form-anonymous input[type='text']::placeholder {
  font-family: 'Consolas', sans-serif;
  font-weight: bold;
  opacity: 0.65; }

.form-anonymous label {
  margin-left: 7px;
  opacity: 0.9; }

.form-checkboxWrapper {
  align-items: center;
  display: flex;
  padding-left: 5px; }

.form-section-radio {
  display: flex;
  flex-direction: column;
  margin-top: 20px; }

@media (min-width: 768px) {
  .form-section-radio {
    margin-top: 0;
    max-width: 420px; } }

.form-radio {
  cursor: pointer;
  max-height: 8px; }

.form-radio-wrapper {
  display: flex;
  flex-direction: column; }

.form-radio-wrapper label {
  margin-bottom: 0; }

.form-radio-itemWrapper {
  display: flex;
  margin-bottom: 12px; }

@media (min-width: 768px) {
  .form-radio-itemWrapper {
    margin-bottom: 7px; } }

.form-radio-itemWrapper:last-child {
  margin-bottom: 0; }

.form .messageLabel {
  margin-bottom: 15px; }

.form .blink {
  animation: blinkingText 0.75s forwards; }

@keyframes blinkingText {
  0% {
    color: transparent; }
  49% {
    color: #e3e3e3; }
  60% {
    color: transparent; }
  99% {
    color: #e3e3e3; }
  100% {
    color: #e3e3e3; } }

@keyframes expandHeight {
  0% {
    height: 0; }
  50% {
    height: 0; }
  100% {
    height: 20px; } }

.home-page .footer-message {
  flex-direction: column; }

.footer {
  font-size: 12px;
  margin: 30px 0;
  max-width: 600px;
  text-align: center;
  width: 100%; }

.footer a {
  color: #868889;
  font-weight: 800;
  transition: color 0.3s; }

.footer a:hover {
  color: #e3e3e3; }

.footer * {
  width: 100%; }

.header {
  margin: 0 auto; }

@media (min-width: 1024px) {
  .header {
    margin: 20px auto; } }

@media (min-width: 1920px) {
  .header {
    margin: 50px auto; } }

.header.centerComponent {
  padding: 0; }

.header-logoWrapper {
  align-items: center;
  display: flex;
  justify-content: center; }

.header-logoWrapper h1 {
  margin-top: 0;
  padding-left: 5px; }

.header-logoWrapper img {
  margin-bottom: 5px;
  object-fit: contain;
  width: 30px; }

@media (min-width: 480px) {
  .header-logoWrapper img {
    margin-bottom: 0; } }

@media (max-width: 480px) {
  .header h2 {
    max-width: 250px; } }

.infoBox {
  max-width: 600px;
  width: 100%; }

.infoBox-container {
  background-color: #2f2e2e;
  box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, 0.04), 10px 20px 40px 0 rgba(0, 0, 0, 0.2);
  font-size: 12px;
  max-width: 100%;
  padding: 15px;
  position: relative; }

@media (min-width: 480px) {
  .infoBox-container {
    padding: 20px; } }

.infoBox-container h3 {
  font-size: 14px;
  margin-bottom: 5px; }

.infoBox-container ul {
  padding-left: 15px; }

.infoBox-container ul li {
  margin-bottom: 15px; }

.infoBox-container a {
  color: #868889;
  font-weight: 800;
  transition: color 0.3s; }

.infoBox-container a:hover {
  color: #e3e3e3; }

.infoBox-about, .infoBox-security, .infoBox-features {
  margin-bottom: 15px; }

.infoBox-new {
  color: #ffde34;
  font-weight: 700; }

.infoBox-textRow {
  font-size: 12px;
  font-style: italic;
  line-height: 1.35;
  margin-bottom: 15px;
  padding-left: 10px; }

.infoBox-textRow a {
  padding-right: 10px; }

.infoBox-content {
  font-size: 12px;
  font-weight: bold;
  word-wrap: break-word; }

.loader {
  align-items: center;
  animation: fadeIn 0.5s forwards;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 170px);
  justify-content: center;
  opacity: 0; }

.loader-logo {
  object-fit: contain;
  width: 40px; }

@media (min-width: 480px) {
  .loader-logo {
    width: 60px; } }

.loader-text {
  font-size: 14px;
  margin-top: 7px; }

.loader-text:after {
  content: '.';
  animation: dots 1.5s steps(5, end) infinite; }

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0); }
  40% {
    color: #fff;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0); }
  60% {
    text-shadow: 0.25em 0 0 #fff, 0.5em 0 0 rgba(0, 0, 0, 0); }
  80%,
  100% {
    text-shadow: 0.25em 0 0 #fff, 0.5em 0 0 #fff; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.customLink-image {
  display: block;
  margin-top: 5px;
  max-height: 300px;
  max-width: 100%; }

.form-validate-key {
  font-size: 12px;
  margin: 20px auto;
  max-width: 500px; }

.form-validate-key p {
  margin-bottom: 20px;
  text-align: center; }

.form-validate-key label {
  display: none; }

.form-validate-key input[type='text'] {
  border: 0;
  box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, 0.04), 10px 20px 40px 0 rgba(0, 0, 0, 0.2);
  padding: 0 20px;
  width: calc(100% - 40px); }

.form-validate-key input[type='text']:focus, .form-validate-key input[type='text']:hover {
  background-color: #2f2e2e;
  border: 0;
  outline: 0; }

.form-validate-key-inputWrapper {
  align-items: center;
  display: flex;
  flex-direction: column; }

@media (min-width: 480px) {
  .form-validate-key-inputWrapper {
    flex-direction: row; } }

.form-validate-key button {
  height: 50px;
  margin: 20px 0 0; }

@media (min-width: 480px) {
  .form-validate-key button {
    margin: 0 0 0 20px; } }

.form-validate-key .error {
  margin-top: 20px; }

@font-face {
  font-family: 'Consolas';
  src: local(Consolas), url("./assets/font/consolas-400.woff2") format("woff2");
  font-display: swap; }

@font-face {
  font-family: 'Consolas';
  src: local(Consolas-Bold), url("./assets/font/consolas-700.woff2") format("woff2");
  font-weight: bold;
  font-display: swap; }

html,
body {
  font-family: 'Consolas', sans-serif;
  margin: 0;
  padding: 0; }

body {
  background-color: #292929;
  color: #e3e3e3;
  font-size: 14px; }

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between; }

.container.centerComponent {
  max-width: 600px; }

h1,
.h1 {
  color: #868889;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0; }

@media (min-width: 480px) {
  h1,
  .h1 {
    font-size: 40px; } }

h2,
.h2 {
  font-size: 28px;
  margin: 0; }

h3,
.h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0; }

h4,
.h4 {
  font-size: 13px;
  font-weight: 400;
  margin: 0 0 50px 0;
  text-align: center; }

@media (min-width: 480px) {
  h4,
  .h4 {
    font-size: 14px; } }

h5,
.h5 {
  font-size: 12px;
  font-weight: 700;
  margin: 0; }

p {
  line-height: 1.35;
  margin: 0; }

a {
  color: #e3e3e3;
  text-decoration: none; }

.button-styled {
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 3px 6px 6px rgba(0, 0, 0, 0.04), 0 20px 40px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid #2f2e2e;
  color: #e3e3e3;
  cursor: pointer;
  display: block;
  font-family: 'Consolas', sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-top: 30px;
  padding: 14px 10px;
  transition: transform 0.2s, color 0.2s, background-color 0.2s;
  width: 100%; }

@media (min-width: 1025px) {
  .button-styled:hover {
    background-color: #2f2e2e;
    color: #e3e3e3; } }

@media (min-width: 480px) {
  .button-styled {
    margin-top: 25px;
    padding: 9px 12px;
    width: auto; } }

@media (min-width: 1440px) {
  .button-styled {
    margin-top: 30px; } }

.button-styled--isActive {
  background-color: transparent;
  color: #868889; }

button:disabled,
button[disabled],
button[disabled]:hover {
  color: #808080;
  opacity: 0.8; }

input,
label,
select,
textarea {
  background-color: transparent;
  border: 0;
  color: #e3e3e3;
  display: block;
  font-size: 12px;
  font-family: 'Consolas', sans-serif;
  line-height: 1.35;
  margin: 0;
  padding: 0;
  white-space: normal; }

input:focus {
  outline: 0; }

input[type='text'] {
  background-color: #292929;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  min-height: 50px;
  resize: none;
  width: 100%; }

input[type='radio']:after,
input[type='radio']:checked:after {
  background-color: #e3e3e3;
  border: 2px solid #e3e3e3;
  border-radius: 8px;
  content: '';
  display: inline-block;
  height: 8px;
  left: 0px;
  position: relative;
  top: 0px;
  visibility: visible;
  width: 8px; }

input[type='radio']:checked:after {
  background-color: #868889; }

.centerComponentVertically {
  display: flex;
  flex-direction: column; }

.centerComponent {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 15px; }

@media (min-width: 480px) {
  .centerComponent {
    padding: 0 40px; } }

@media (min-width: 1024px) {
  .centerComponent {
    padding: 0 60px; } }

.componentSpacing {
  margin: 40px 0; }

@media (min-width: 1024px) {
  .componentSpacing {
    margin: 50px auto; } }

.resetButton {
  background: transparent;
  border: none;
  color: #e3e3e3;
  cursor: pointer;
  padding: 0;
  outline: none; }

.link-message {
  cursor: pointer;
  color: #868889;
  text-decoration: underline; }

.link-message:hover {
  text-decoration: none; }

.link-styled {
  cursor: pointer;
  position: relative; }

.link-styled:hover {
  text-decoration: none; }

.link-styled:hover:after {
  opacity: 1; }

.link-styled:after {
  background-color: #e3e3e3;
  bottom: -2px;
  content: '';
  height: 1px;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s;
  width: 100%; }

.error {
  text-align: center; }

.blink {
  animation: blinkingText 0.75s forwards; }

@keyframes blinkingText {
  0% {
    color: transparent; }
  49% {
    color: #e3e3e3; }
  60% {
    color: transparent; }
  99% {
    color: #e3e3e3; }
  100% {
    color: #e3e3e3; } }

.pageWrapper {
  padding-top: 40px; }

@media (min-width: 480px) {
  .pageWrapper {
    padding-top: 50px; } }
