@import './assets/styles/variables';
@import './components/MessageBox/style';
@import './components/Timer/style';
@import './components/Form/style';
@import './components/Footer/style';
@import './components/Header/style';
@import './components/InfoBox/style';

@font-face {
  font-family: "Consolas";
  src:
    local(Consolas),
    url("./assets/font/consolas-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Consolas";
  src:
    local(Consolas-Bold),
    url("./assets/font/consolas-700.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}

// GLOBAL STYLES

html,
body {
  font-family: 'Consolas', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-background;
  color: $color-white;
  font-size: $font-size-base;
}

// TEXT STYLES

h1, .h1 {
  color: $color-accent;
  font-size: $font-size-xl;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0;

  @media (min-width: $breakpoint-mobile-horizontal) {
    font-size: $font-size-xxxl;
  }
}

h2, .h2 {
  font-size: $font-size-xl;
  margin: 0;
}

h3, .h3 {
  font-size: $font-size-m;
  font-weight: 700;
  margin: 0;
}

h4, .h4 {
  font-size: 13px;
  font-weight: 400;
  margin: 0 0 50px 0;
  text-align: center;

  @media (min-width: $breakpoint-mobile-horizontal) {
    font-size: $font-size-base;
  }
}

h5, .h5 {
  font-size: $font-size-s;
  font-weight: 700;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: $color-white;
  text-decoration: none;
}

// FORMS, INPUTS, BUTTONS

.button-styled {
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 3px 6px 6px rgba(0, 0, 0, .04), 0 20px 40px 0 rgba(0, 0, 0, .2);
  border: 2px solid $color-background-light;
  color: $color-white;
  cursor: pointer;
  display: block;
  font-family: 'Consolas', sans-serif;
  font-size: $font-size-s;
  font-weight: 600;
  margin-top: 30px;
  padding: 14px 10px;
  transition: transform 0.2s, color 0.2s, background-color 0.2s;
  width: 100%;

  &:hover {
    @media (min-width: $breakpoint-tablet-horizontal + 1) {
      background-color: $color-background-light;
      color: $color-white;
    }
  }

  @media (min-width: $breakpoint-mobile-horizontal) {
    margin-top: 25px;
    padding: 9px 12px;
    width: auto;
  }

  @media (min-width: $breakpoint-desktop-wide) {
    margin-top: 30px;
  }

  &--isActive {
    background-color: transparent;
    color: $color-accent;
  }
}

input,
label,
select,
textarea
{
  background-color: transparent;
  border: 0;
  color: $color-white;
  display: block;
  font-size: $font-size-s;
  font-family: 'Consolas', sans-serif;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  white-space: normal;
}

input:focus {
  outline:0;
}

input[type=text] {
  background-color: $color-background;
  border: 1px solid $color-white;
  border-radius: 4px;
  min-height: 50px;
  resize: none;
  width: 100%;
}

input[type='radio']:after {
  background-color: $color-white;
  border: 2px solid $color-white;
  border-radius: 8px;
  content: '';
  display: inline-block;
  height: 8px;
  left: 2px;
  position: relative;
  top: 2px;
  visibility: visible;
  width: 8px;

  @media (min-width: $breakpoint-mobile-horizontal) {
    left: 0;
    top: 0;
  }
}

input[type='radio']:checked:after {
  background-color: $color-accent;
  border: 2px solid white;
  border-radius: 8px;
  content: '';
  display: inline-block;
  height: 8px;
  left: 2px;
  position: relative;
  top: 2px;
  visibility: visible;
  width: 8px;

  @media (min-width: $breakpoint-mobile-horizontal ) {
    left: 0;
    top: 0;
  }
}

// HELPER CLASSES

.centerComponentVertically {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.centerComponent {
  margin: 0 auto;
  max-width: $container-max-width;
  padding: 0 $gutter-mobile;

  @media (min-width: $breakpoint-mobile-horizontal) {
    padding: 0 $gutter-tablet;
  }

  @media (min-width: $breakpoint-tablet-horizontal) {
    padding: 0 $gutter-desktop;
  }
}

.componentSpacing {
  margin: $component-spacing-mobile 0;

  @media (min-width: $breakpoint-tablet-horizontal) {
     margin: $component-spacing auto;
  }
}

.resetButton {
  background: transparent;
  border: none;
  color: $color-white;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.link-message {
  cursor: pointer;
  color: $color-accent;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.link-styled {
  cursor: pointer;
  position: relative;

  &:hover {
    text-decoration: none;

    &:after {
      opacity: 1;
    }
  }

  &:after {
    background-color: $color-white;
    bottom: -2px;
    content: '';
    height: 1px;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s;
    width: 100%;
  }
}

.pageWrapper {
  padding-top: $component-spacing;
  max-width: $content-max-width;
  min-height: calc(100vh - 150px);
  position: relative;
}
