$breakpoint-mobile-narrow: 350px;
$breakpoint-mobile-horizontal: 480px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-horizontal: 1024px;
$breakpoint-desktop: 1280px;
$breakpoint-desktop-wide: 1440px;
$breakpoint-desktop-xl: 1920px;

$color-background: #292929;
$color-accent: #868889;
$color-white: #e3e3e3;
$color-black: #000;
$color-background-light: #2f2e2e;

$gutter-mobile: 20px;
$gutter-tablet: 40px;
$gutter-desktop: 60px;

$container-max-width: $breakpoint-desktop-wide;
$content-max-width: 600px;

$component-spacing-mobile: 40px;
$component-spacing: 50px;

$font-size-s: 12px;
$font-size-base: 14px;
$font-size-m: 21px;
$font-size-xl: 28px;
$font-size-xxl: 32px;
$font-size-xxxl: 40px;
